<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'ユーザー情報一覧', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container">
    <h1>ユーザー情報一覧</h1>
    <div class="float-end">

    </div>
    <table class="table table-striped">
      <thead>
        <tr>
         <th>課番号</th>
                <th>課名</th>
                <th>合計売上</th>
                <th>合計人数</th>
<th>平均人数</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="department : ${dt}" th:object="${department}" class="align-middle">
          <td th:text="*{id}"> </td>
<td th:text="*{Coursename}"> </td>
<td th:text="*{Totalnumberofpeople}"></td>
<td th:text="*{average}"> </td>
<td th:text="*{Totalnumberofpeople/average}"></td>
          <td><a th:href="@{/department/{id}(id=*{id})}" class="btn btn-secondary">詳細</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
