<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<title>検索結果</title>
<link href="/css/list1.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
   <h1>検索結果</h1>
    <div>
        <a th:href="@{/department/departmentlist/}">一覧に戻る</a>
    </div>
<div style="text-align:center">
  <input type="radio" id="zenbu" name="zenbu" value="huey" style="margin-left:250px"
          checked onclick="show1()">
  <label for="huey">全社員</label>
  <input type="radio" id="zaizhi" name="zenbu" value="zaizhi" style="margin-left:250px"
         onclick="show2()">
  <label for="zaizhi">在職のみ</label>
  <input type="radio" id="tuizhi" name="zenbu" value="tuizhi" style="margin-left:250px"
         onclick="show3()">
  <label for="tuizhi">退職のみ</label>
</div>
	<h1 th:text="*{depname}"></h1>
<div class="Aboxa" >
	   <table >
        <thead>
            <tr>
            <th>id</th>
                <th>氏名</th>
                <th>担当地区</th>
                <th>売上</th>
        <th>保有願客数</th>
          <th>更新日</th>
            </tr>
        </thead>
	        <tbody >
            <tr th:if="${department1.state<1}"   th:each="department1 : ${dilist}" th:object="${department1}"  class="align-middle">　
 				<td  class="center" th:text="*{id1}"></td>
                <td class="center" th:text="*{name}"></td>
                <td th:text="*{address}"></td>
                <td th:text="*{guest}"></td>
                <td class="center" th:text="*{Sales}"></td>
                 <td class="center" th:text="*{day}"></td>
                 <td> <div style="text-align:center">
                 <a th:href="@{/department1/{id1}(id1=*{id1})}"  class="btn btn-secondary">
                 <input type="submit" value="編集" class="btn" style="background-color:#33CCCC"></a></div></td>
                  <td><div >
             <form th:action="@{/department/}+${department1.id1}" method="post" onclick="return  myFunction()">
                      <input type="hidden" name="_method" value="delete"/>
                     <button type="submit">削除</button>
             </form></div></td>
          </tr>
			<tr th:if="${department1.state>0}" th:each="department1 : ${dilist}" th:object="${department1}"  >
				<td class="center"  ></td>
                <td class="center" ></td>
                <td ></td>
                <td ></td>
                <td class="center"></td>
                <td></td>
			  <td><div style="text-align:center">
			 <input type="submit" value="編集" class="btn" style="background-color:#33CCCC"></div></td>

<td><div style="text-align:center">
			 <input type="submit" value="削除" ></div></td>
</tr>

        </tbody>
</table>

</div>
<div class="Aboxa" style="display:none">
<table>
  <thead>
            <tr>
            <th>id</th>
                <th>氏名</th>
                <th>担当地区</th>
                <th>売上</th>
        <th>保有願客数</th>
          <th>更新日</th>

            </tr>
        </thead>
	        <tbody>
	        <tr th:if="${department1.state<1}" th:each="department1 : ${dilist}" th:object="${department1}"  class="align-middle">

 				<td class="center" th:text="*{id1}"></td>
                 <td class="center" th:text="*{name}"></td>
                <td th:text="*{address}"></td>
                <td th:text="*{guest}"></td>
                <td class="center" th:text="*{Sales}"></td>
                 <td class="center" th:text="*{day}"></td>
                 <td> <div style="text-align:center">
                 <a th:href="@{/department1/{id1}(id1=*{id1})}"  class="btn btn-secondary">
                 <input type="submit" value="編集" class="btn" style="background-color:#33CCCC"></a></div></td>
			  <td><div >
             <form th:action="@{/department/}+${department1.id1}" method="post" onclick="return  myFunction()">
                      <input type="hidden" name="_method" value="delete"/>
                      <button type="submit" >削除</button>
             </form></div></td>
          </tr>
        </tbody>
</table>
</div>
<div class="Aboxa" style="display:none">
<table >
  <thead>
            <tr>
            	<th>id</th>
                <th>氏名</th>
                <th>担当地区</th>
                <th>売上</th>
                <th>保有顧客数</th>
                <th>更新日時</th>
            </tr>
        </thead>
	        <tbody>
            <tr th:if="${department1.state>0}" th:each="department1:${dilist}" th:object="${department1}" class="align-middle"  style="background-color: red">　
				<td class="center" ></td>
                <td class="center" ></td>
                <td ></td>
                <td ></td>
                <td class="center"></td>
                <td></td>
			  <td><div style="text-align:center">
			  <input type="submit" value="削除"></div></td>
        </tbody>
    </table>
    </div>
	<script>

function show1() {
document.getElementsByClassName("Aboxa")[0].style.display = "block";
document.getElementsByClassName("Aboxa")[1].style.display = "none";
document.getElementsByClassName("Aboxa")[2].style.display = "none";
}
function show2() {
document.getElementsByClassName("Aboxa")[0].style.display = "none";
document.getElementsByClassName("Aboxa")[1].style.display = "block";
document.getElementsByClassName("Aboxa")[2].style.display = "none";
}
function show3() {
document.getElementsByClassName("Aboxa")[0].style.display = "none";
document.getElementsByClassName("Aboxa")[1].style.display = "none";
document.getElementsByClassName("Aboxa")[2].style.display = "block";
}
function myFunction()
{
	  if(confirm('この作業は修正できません。本当によろしいですか。')){
          return true;
      }else{
          return false;
      }
}
</script>
</body>
</html>



